#messages {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: inline-block;
  float: center-right;
}

#current-messages{
  box-sizing: border-box;
  width: 200px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  position: inherit;
  bottom: center;
}

.newMessage {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
  position: center;
  background-color: orange;
}


input{
  font-size:  .8rem;
  letter-spacing: 1px;
  border-radius: 52px;
  box-shadow: 1px 1px 1px #999;
  position: fixed;
  bottom:  70px;

}
.messages{
  float: right;
  width: 50%;

}

form{
  overflow: auto
 }

.submitbox{
 right: 10%;

}
.textbox{
  width: 35%;
  overflow: scroll;
  font-size: 10px;
}
